<section>
    <h2>@Title</h2>
    <br>
    @foreach (var item in Items)
    {
        <h3>@item.Title</h3>
        <h4>@item.CompanyName</h4>
        <h4>@(GetDates(item))</h4>
        <ul>
            @foreach (var responsibility in item.Responsibilities)
            {
                <li>@((MarkupString)responsibility)</li>
            }
        </ul>
    }
</section>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<ExperienceItem> Items { get; set; } = new();

    private string GetDates(ExperienceItem item)
    {
        string startDate = item.StartDate.Year.ToString();
        string endDate = item.EndDate != null ? $"{item.EndDate.Value.Year}" : "Present";
        return startDate + " - " + endDate;
    }
}